body {
    margin: 0;
    padding: 0;
}

#container {
    display: flex;         
    min-height: 100vh;     
    width: 100%;           
}

 .left-part {  /*the registration inputs */
    flex: 1;               
    border-radius:30px;

    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.right-part {  /*the black area */
    flex: 1.5;               
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    overflow:hidden;
}


.OAuth-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem; 
  padding: 0.5rem 1rem; 
  background-color:#E6E0DF;
  color: #000000;
  border-radius: 0.5rem; 
  
  font-size: 0.875rem; 
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.OAuth-btn:hover {
  background-color: #d4d4d8; 
}

#G-btn{
    transform:scale(1.2);
}

.hero {
    transform:scale(0.6);
    display:flex;
    justify-items:center;
    position:absolute;
    z-index:100;
    align-items: center;  
    pointer-events: none; }

#bg-canvas{
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position:relative;
    z-index:0;
}

#title {
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 30px;
    
}

.input-group {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 5px;
}

.input-group input {
  border: none;
  outline: none; 
  flex: 1;
}

.input-group svg {
  order: -1; 
  margin-right: 8px;
  margin-left:10px;
  color: #888;
}

#registerform {
    display: flex;
    flex-direction: column;
    align-items: center;
}



#text-bw {
   width: 45%; 
   text-align: center; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
} 

#text-bw span { 
    background:#fff; 
    padding:0 10px; 
}

.input-wrapper {
  position: relative;
  display: inline-block;
}

.input-wrapper svg {
  position: absolute;
  left: 10px;
  top: 20%;
}


.signupinput {
    width: 350px;
    height: 42px;
    border-radius: 5px;
    border: 1px solid #b1b1b1;
    padding-left: 40px;
    margin-bottom: 10px; 
}
.registerbtn{
    font-weight:bold;
    cursor:pointer;
    font-size:15px;
    width:300px;
    height:40px;
    border-radius:10px;
    margin-left:10px;
    background-color:rgb(249, 192, 48);
    border: 1px solid rgb(249, 188, 35);
}
#haveanaccount{
    color:rgba(0, 0, 0, 0.78);
    font-weight:bold;

    margin-left:1%;
}

#loginredirectbutton{
    text-decoration:none;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:bold;
    cursor:pointer;
    color:rgb(260, 202, 48);

}
#loginredirectbutton:hover{
    color:rgb(31, 31, 252);
}